<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Form Page</h1>
    <form method="POST" action="/new">
    <label>Author's Name: <input type="text" name="messageUser"></label>
    <label>Message Text: <input type="text" name="messageText"></textarea></label>
    <input type="submit" name="submit">
    </form>
</body>
</html>